.hello:link {
  color: orange;
}
.hello:hover {
  color: red;
  font-family: arial;
  font-size: 20px
}
.hello:active {
  font-style: italic;
}
.hello: visited {
  color: green;
}

li: nth-child (odd) a {
  color: red;
}
li: nth-child (odd) a:hover {
  color: red;
}