body {
  font-family: arial;
}
h1, h2 {
  color: orange;
}

ul li a {
  color: red;
}

ol li a{
  color: green;
}

#p1{
  color: silver;
}

.p2{
  color: silver;
}
.cetak-tebal{
  font-weight:bold;
}
p .cetak-tebal{
  font-size : 30px;
}